// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin user-select($value) {
  -webkit-user-select: $value;
     -moz-user-select: $value;
      -ms-user-select: $value;
          user-select: $value;
}

@import url('https://fonts.googleapis.com/css?family=Taviraj');

.typee {
  @include user-select(none);
  font-family: 'Taviraj', serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.40455;
}

.typee-word-active {
  background-color: #ccc;
  //color: #ccc;
  //filter: invert(100%);
}